/* CSS by Amira Shiha */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */

.skip-link{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-link:focus{
  position: static;
  width: auto;
  height: auto;
}

/* ///ADD/// Navigation Styles */

.mobile-nav{
  text-align: center;
  position: center;
  font-family: var(--font-body);
}

.menu-button{
  display: block;
  width: 90%;
  margin: 1rem auto;
  padding: 0.75rem 0.50rem;
  border: 1px solid var(--blue-bulletin);
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  transition: var(--news-flash) 1s ease;
}

.menu{
  min-width: 400px;
  display: none;
  position: absolute;
  top: 120%;
  left: 50%;
  background-color: var(--blue-bulletin);
  transform: translate(-50%, 0)
}

.menu a{
  display: block;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: .8rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--blue-bulletin);
  transition: var(--transition);
}

.menu a:hover, .menu-button:hover, footer a:hover{
  background-color: var(--blue-bulletin);
  border: 1px solid var(--news-flash);
  cursor: pointer;
}


/* ///ADD/// Global Layout Styles */

body{
  min-width: 485px;
  font-family: var(--font-body);
  background-color: var(--watchdog-white);
}

.header-container{
  background-color: var(--blue-bulletin);
  font-family: var(--font-heading);
  padding: 0.25rem 0;
  color: var(--watchdog-white);
}

.footer-container{
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding: 1rem  2rem 1rem 2rem;
  font-family: var(--font-heading);
  font-weight: lighter;
}

/* ///ADD/// Global Text Styles */

h1{
  font-size: 3rem;
  font-weight: lighter;
  padding: 1.2rem;
}

h1, h2, h3{
  font-family: var(--font-heading);
}

#main-content h2{
  font-size: 1.5rem;
  padding: 2rem 0 0 1rem;
  font-weight: 300;
}

.news h3{
  font-weight: 300;
  font-size: larger;
  line-height: 1.75rem;
  border-bottom: 1px solid var(--watchdog-white);
  margin: 1rem 1rem 0 1rem;
}

#main-content p{
  font-weight: 400;
  line-height: 1.5rem;
  padding-left: 1rem;
}

h2 ~ p{
  padding: 0.5rem 2rem 1rem 1rem;
}

#alerts > P{
  padding-top: 0.5rem;
}

.header-container > .tagline{
  font-weight: 600;
  padding-left: 1.35rem;
}

#home > .tagline{
  text-align: center;
  margin: 1rem auto;
  font-weight: bold;
  font-size: 1rem;
  font-family: var(--font-heading);
}

#breaking-news, #featured-articles{
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

#featured-articles article:hover, #breaking-news article:hover{
  transform: scale(1.05);
}

#breaking-news article{
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  border: 1px solid var(--truth-text);
  margin: 0 2rem 1rem 2rem;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

#breaking-news h3{
  font-size: larger;
  font-weight: 400;
  line-height: 1.80rem;
  border-bottom: 1px solid var(--watchdog-white);
  margin: 1rem 1rem 0 1rem;
}

#breaking-news p{
  padding-right: 1rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

#breaking-news video{
  display: block;
  width: 95%;
  max-width: 100%;
  height: auto;
  margin: auto;
  padding-bottom: 1rem;
}

#featured-articles article{
  margin: 0 1.5rem 1rem 1.5rem;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: var(--transition);
  border: 1px solid var(--story-subtitle);
}

#featured-articles h3{
  font-size: larger;
  font-weight: 400;
  line-height: 1.75rem;
  margin: 1rem 1rem 0 1rem;
  border-bottom: 1px solid var(--story-subtitle);
}

#featured-articles p{
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 0 2rem 2rem 2rem;
  padding: 0 1rem;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  border: 1px solid var(--truth-text);
  box-shadow: var(--shadow);
}

.form {
  display: grid;
  grid-template-columns: 1fr;
}

form label{
  padding-top: 1rem;
  padding-bottom: 0.25rem;
}

form input{
  padding-bottom: 1rem;
  font-size: 1rem;
  text-align: left;
}

fieldset{
  border: 1px solid var(--blue-bulletin);
  padding: 1rem;
}

fieldset legend{
  text-transform: uppercase;
  font-weight: 500;
}

.legend-group div{
  padding: .7rem 0;
}

input[type="checkbox"]{
  margin-right: 0.3rem;
  transform: scale(1.50);
  accent-color: var(--blue-bulletin);
  cursor: pointer;
}


input[type="submit"]{
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  padding-top: 1rem;
  margin: 0.25rem 0 2rem 0;
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  font-size: 1.25rem;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

input[type="submit"]:hover{
  background-color: var(--watchdog-white);
  color: var(--blue-bulletin);
}

.footer-container h2{
  margin-top: 1rem;
  font-size: 1.5rem;
}

.socials li{
  display: inline-flex;
}

.socials a{
  font-weight: 400;
  cursor: pointer;
  font-family: var(--font-body);
  text-transform: uppercase;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  transition: var(--transition);
  padding: 0.8rem;
  margin: 1rem 1rem 0 0;
  text-decoration: none;
  font-size: 1rem;
}

.copyright{
  margin-top: 2rem;
  font-family: var(--font-body);
  font-weight: 300;
  font-size: small;
  text-align: center;
}  

/* ///ADD/// medium styles 620px */

@media screen and (min-width: 620px){
  .menu-button{
    display: none;
  }

  .mobile-nav{
    text-align: left;
  }

  .menu{
    background-color: var(--blue-bulletin);
    padding-left: 1.5rem;
    list-style-type: none;
    all: unset;
    gap: 1rem;
  }

  .menu li{
    display: inline-block;
    padding-left: 1.20rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .header-container > .tagline{
    padding-bottom: .5rem;
  }

  .news, .articles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem;
  }

  #breaking-news article, #featured-articles article{
    margin: 0 auto;
  }


  .form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .legend-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  input[type="text"]{
      grid-column-start: 1;
      grid-row-start: 2;
      margin-right: 0.25rem;
  }
}


/* ///ADD/// large styles 920px */

@media screen and (min-width: 920px){

  .articles{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .legend-group{
    grid-template-columns: 1fr 1fr 1fr;
  }

}

/* ///ADD/// x-large styles 1024px */

@media screen and (min-width: 1024px){

  .header-container h1, .header-container .tagline, .header-container nav, #main-content, .footer-container h2, .footer-container #socials, .footer-container .socials, .footer-container .copyright{
    max-width: 1090px;
    margin: 0 auto;
  }

  .header-container h1{
    padding-left: 3rem;
  }

  .header-container .tagline{
    padding-left: 2.5rem;
  }

  .legend-group{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-container .copyright, .footer-container h2{
    margin-top: 2rem;
  }
}

/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

}